body, html {
	line-height: 16px;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-color:white;
}

.section {
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display:none;
}

.section active {
	display: block;
}

h3 {
	padding:0;
	letter-spacing: 0px;
	text-shadow:1px 0px;
	margin:0;
	font-family: serif;
	font-size: calc(5.9vw + 3vh);
	font-weight: 400;
	line-height: calc(5.9vw + 3vh);
	color: black;
	filter: invert(1);
}

.nav_bar {
	overflow: hidden;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index:40;
	mix-blend-mode: difference;
}

.nav_bar ul {
	padding: 0;
	width:94%;
	list-style: none;
}

.menu {
	display: flex;
    justify-content: space-between; 
    margin:3.6% auto 1%;
    align-items: start; 
}

.menu li {
	margin: 0;
}

.menu li a {
	padding: 0;
	text-decoration: none;
	display: inline-block;
	margin: 0px 0px;
	cursor: pointer;
	text-transform: lowercase;
	font-size: calc(1.7vw + 1vh);
	letter-spacing: 4px;
	font-weight: 500;
	font-family: serif;
	color:white;
	text-shadow:0px 0px;
	mix-blend-mode: difference;
}

.menu li a:hover {
	color:lime;
	filter:invert(1);
}

#index-section {
	min-height: 100%; 
	width:100%;
	margin:0;
	padding:0;
	background-color:rgba(0,0,0,0);
	display: grid;
	align-items: end;
	color:black;
}

#about-section {
	min-height: 100%; 
	width:100%;
	background: linear-gradient( rgba(143, 0, 133, 0.7), rgba(143, 0, 133, 0.7) ), url('../images/squat.gif');background-repeat: no-repeat; background-position: center; background-size: cover;
}

#dub-section {
	min-height: 100%; 
	width:100%;
	background-color:yellow;
}

.video_container {
	position: absolute;
	bottom: 6%;
	left: 3%;
	text-align:left;
	width:90%; 
	background-color:transparent;
	mix-blend-mode: difference;
}

video {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	position:absolute;
	filter:blur(4px);
	opacity:0.1;
}

a {
	cursor:pointer;
	text-decoration:none;
}

a:hover {
	color:lime;
	filter:invert(1);
}
